.title {
   text-align: center;
   font-size: 35px;
   font-family: sans-serif;
}

.description {
   text-align: center;
   font-size: 16px;
   font-family: sans-serif;
}

.description span {
   font-weight: bold;
   color: rgb(233, 14, 47);
}

fieldset {
   border: none;
   width: 250px;
   margin: 40px auto 0px;
}

fieldset label {
   font-family: sans-serif;
}

#generatePassword {
   background-color: #0e99e9;
   color: #fff;
   cursor: pointer;
   font-family: sans-serif;
   border: none;
   border-radius: 12px;
   padding: 10px 15px;
}

#generatePassword:hover {
   background-color: #0fa1f6;
}

#generatePassword:active {
   background-color: #007dc5;
}