#countLabel {
   display: block;
   text-align: center;
   font-size: 30px;
   font-family: Verdana, sans-serif;
}

#btnContainet {
   text-align: center;
}

.buttons {
   padding: 10px 20px;
   font-size: 20px;
   color: white;
   background-color: red;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.buttons:hover {
   background-color: rgb(140, 26, 26);
}